<a href="https://colab.research.google.com/github/Suphattha/data_viz/blob/main/Function_Loop_Condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
name = 'สุภัทธา'
surname = 'ทิ้งไทยสงค์'
ID = '613021026-2'

b= f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
print(b)

ชื่อ สุภัทธา นามสกุล ทิ้งไทยสงค์ รหัส 613021026-2

#Function

ทำหน้าที่รับ input มาประมวลผลออกเป็น output

f(x) = y โดยที่ x คือ input

y คือ output

# def คือ การกำหนดฟังก์ชัน

```python
     def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return
```

backtick (`) ==> กด ~ ค้าง, alt - 9>6 (full keyboard with number)

tilde (~)

curly bracket ({ })

square bracket ([ ])

function มีส่วนสำคัญ 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  def function_name(): (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  _Input_ (ขาดได้)
3.   ส่วนประมวลผล do_something with _Input_ to get _Output_ (ขาดไม่ได้)
4.   ส่วน output return _Output_(ขาดได้)

ตัวอย่างการเขียน normal function

In [25]:
def print_name(surname,ID,name) :
  st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
  return st

In [26]:
print_name('ทิ้งไทยสงค์','6130210262','สุภัทธา')

'ชื่อ สุภัทธา นามสกุล ทิ้งไทยสงค์ รหัส 6130210262'

In [27]:
print(print_name(name='สุภัทธา',surname='ทิ้งไทยสงค์',ID='6130210262'))

ชื่อ สุภัทธา นามสกุล ทิ้งไทยสงค์ รหัส 6130210262

ใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

สามารถเพิ่มคำสั่งเข้าไปในฟังก์ชันได้อีก โดยการเปลี่ยนคำสั่ง return เป็น print() เช่น ตัวอย่างดังนี้ ได้ทำการเพิ่ม st2 =

In [28]:
def print_name2(name,surname,ID) :
     st2 = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
     print(st2)

In [29]:
print_name2(name='สุภัทธา',surname='ทิ้งไทยสงค์',ID=6130210262)

ชื่อ สุภัทธา นามสกุล ทิ้งไทยสงค์ รหัส 6130210262

ในฟังก์ชันไม่จำเป็นต้องมี Input

In [30]:
def Pi() :
     return 3.14159265359

**สามารถกำหนดค่า default ให้กับฟังก์ชันได้**

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)
เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [31]:
def print_2lines_default(name,surname,ID,grade='A') :
  st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
  print (st)
  st2=f'เกรดวิชา Data Viz >>> {grade}'
  print(st2)

In [32]:
print_2lines_default('สุภัทธา','ทิ้งไทยสงค์','6130210262')

ชื่อ สุภัทธา นามสกุล ทิ้งไทยสงค์ รหัส 6130210262
เกรดวิชา Data Viz >>> A

In [33]:
print_2lines_default('สุภัทธา','ทิ้งไทยสงค์','6130210262','A')

ชื่อ สุภัทธา นามสกุล ทิ้งไทยสงค์ รหัส 6130210262
เกรดวิชา Data Viz >>> A

#LOOP คือ การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่ากำลังเขียน loop โดย for จะวนดึงสมาชิกจาก listA มาทำ process do_something


```
for each_member in listA :
        do_something
```

**คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน**

In [34]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> / จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค

In [35]:
for i in 'Suphattha':
    print(f'{i} -> / ' )

S -> /
u -> /
p -> /
h -> /
a -> /
t -> /
t -> /
h -> /
a -> /

In [36]:
for i in 'Suphattha':
  print(f'{i}->/',end='') #สั่งให้ print แบบ ไม่เว้นบรรทัด

S->/u->/p->/h->/a->/t->/t->/h->/a->/

In [37]:
for i in 'Suphattha':
  print(f'{i}->/',end=',') #สั่งให้ แบบ ไม่เว้นบรรทัด

S->/,u->/,p->/,h->/,a->/,t->/,t->/,h->/,a->/,

##สร้าง list ตัวเลขแบบอัตโนมัติ range()

In [38]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [39]:
for i in range(100):
  print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [40]:
list(range(1,11)) #เริ่มต้นเป็นวงเล็บ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

## loop in loop
สามารถใช้ for loop ซ้อนกันสอบรอบได้

In [42]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print(name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20
2  x  11  =  22
2  x  12  =  24
the inner loop is end
now name1 = 3
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30
3  x  11  =  33
3  x  12  =  36
the inner loop is end
now name1 = 4
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40
4  x  11  =  44
4  x  12  =  48
the inner loop is end

In [43]:
for name1 in range(2,5): #(2,3,4)
    print(f'now name1={name1}')
    for name2 in range(1,13):
         print(name1,'x',name2,'=',name1*name2)

now name1=2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
now name1=3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
now name1=4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48

##loop in function
การวนลูปในฟังก์ชั่น

In [44]:
def print_feelings(I,friends,feeling='คิดถึง'):
   for friend in friends:
     print(f'{I}{feeling}{friend}')

In [45]:
list_friends=['หวาน','เตย','แบม','นิว','ปอ','ออม']

In [46]:
print_feelings('ออมสิน',list_friends)

ออมสินคิดถึงหวาน
ออมสินคิดถึงเตย
ออมสินคิดถึงแบม
ออมสินคิดถึงนิว
ออมสินคิดถึงปอ
ออมสินคิดถึงออม

In [51]:
print_feelings('ออมสิน',list_friends,feeling='รัก')

ออมสินรักหวาน
ออมสินรักเตย
ออมสินรักแบม
ออมสินรักนิว
ออมสินรักปอ
ออมสินรักออม

In [52]:
print_feelings('ออมสิน',list_friends,'รัก')

ออมสินรักหวาน
ออมสินรักเตย
ออมสินรักแบม
ออมสินรักนิว
ออมสินรักปอ
ออมสินรักออม

##looping in dict

ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [53]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'ทรงกลด': 'F', 'ปนัดดา': 'A', 'พันทิพา': 'B', 'ศุภนิตา': 'C'}

In [54]:
name_grade['ปนัดดา']

'A'

In [55]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [56]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [57]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

##conditional คือ เงื่อนไข/ประโยคเงื่อนไข

##True/False
การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

In [58]:
print(list_friends)

['หวาน', 'เตย', 'แบม', 'นิว', 'ปอ', 'ออม']

In [47]:
for name1 in list_friends:
  for name2 in list_friends:
    if name1 !=name2:#ไม่ปริ้นชื่อคนเดียวกันซ้ำ
       print(name1,'รัก',name2)

หวาน รัก เตย
หวาน รัก แบม
หวาน รัก นิว
หวาน รัก ปอ
หวาน รัก ออม
เตย รัก หวาน
เตย รัก แบม
เตย รัก นิว
เตย รัก ปอ
เตย รัก ออม
แบม รัก หวาน
แบม รัก เตย
แบม รัก นิว
แบม รัก ปอ
แบม รัก ออม
นิว รัก หวาน
นิว รัก เตย
นิว รัก แบม
นิว รัก ปอ
นิว รัก ออม
ปอ รัก หวาน
ปอ รัก เตย
ปอ รัก แบม
ปอ รัก นิว
ปอ รัก ออม
ออม รัก หวาน
ออม รัก เตย
ออม รัก แบม
ออม รัก นิว
ออม รัก ปอ

In [59]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 == name2: #ปริ้นชื่อคนเดียวกันซ้ำ
            print(name1,'รัก',name2)

หวาน รัก หวาน
เตย รัก เตย
แบม รัก แบม
นิว รัก นิว
ปอ รัก ปอ
ออม รัก ออม

In [60]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 == name2: 
            'do nothing'
        else:
            print(name1,'รัก',name2)

หวาน รัก เตย
หวาน รัก แบม
หวาน รัก นิว
หวาน รัก ปอ
หวาน รัก ออม
เตย รัก หวาน
เตย รัก แบม
เตย รัก นิว
เตย รัก ปอ
เตย รัก ออม
แบม รัก หวาน
แบม รัก เตย
แบม รัก นิว
แบม รัก ปอ
แบม รัก ออม
นิว รัก หวาน
นิว รัก เตย
นิว รัก แบม
นิว รัก ปอ
นิว รัก ออม
ปอ รัก หวาน
ปอ รัก เตย
ปอ รัก แบม
ปอ รัก นิว
ปอ รัก ออม
ออม รัก หวาน
ออม รัก เตย
ออม รัก แบม
ออม รัก นิว
ออม รัก ปอ

#### ==, !=,>=,<=,<,>

In [61]:
'พี่บูม' == 'พี่เจ็ท'

False

In [62]:
'พี่บูม' != 'พี่เจ็ท'

True

#### หากหลังเงื่อนไข True ถูกต้องจะทำการ print ข้อความออกมาว่า Yes

In [63]:
if True:
    print('Yes')

Yes

In [64]:
if False:
    print('No')

#### หากหลังเงื่อนไข False ไม่ถูกต้องจะไม่ปริ้นข้อความใดๆออกมา
#### ซึ่งจะต้องใช้เงื่อนไขนี้ จึงจะได้ปริ้นค่าเงื่อนไขนั้นออกมา ดังนี้

In [65]:
if False:
    print('Yes')
else:
    print('No')

No

##HW
เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100),output เป็นเกรด (F-A)
วนลูปตัดเกรด input=[1,50,65,90,101,-5,49]





---



กำหนด
ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 0 แต่น้อยกว่า 50 จะได้เกรด F

ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D

ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+

ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C

ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+

ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B

ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+

ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80 จะได้เกรด A

แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า100ไม่งั้นจะเกิด Error


---

In [48]:
def GPA(score) :
    if score > 100 :
       print(f'Error')
    elif 80 <= score < 101 :
       print(f'คะแนนที่ได้คือ {score} เกรดที่ได้คือ A')
    elif 75 <= score < 80  :
       print(f'คะแนนที่ได้คือ {score} เกรดที่ได้คือ B+')
    elif 70 <= score < 75  :
       print(f'คะแนนที่ได้คือ {score} เกรดที่ได้คือ B')
    elif 65 <= score < 70 :
       print(f'คะแนนที่ได้คือ {score} เกรดที่ได้คือ C+')
    elif 60 <= score < 65 :
       print(f'คะแนนที่ได้คือ {score} เกรดที่ได้คือ C')
    elif 55 <= score < 60 :
       print(f'คะแนนที่ได้คือ {score} เกรดที่ได้คือ D+')
    elif 50 <= score < 55 :
       print(f'คะแนนที่ได้คือ {score} เกรดที่ได้คือ D')
    elif 0 <= score < 50 :
       print(f'คะแนนที่ได้คือ {score} เกรดที่ได้คือ F')
    elif score < 0 :
       print(f'Error')

In [49]:
list_gpa = [1,50,65,90,101,-5,49]
list_gpa

[1, 50, 65, 90, 101, -5, 49]

In [50]:
for i in list_gpa :
    GPA(i)

คะแนนที่ได้คือ 1 เกรดที่ได้คือ F
คะแนนที่ได้คือ 50 เกรดที่ได้คือ D
คะแนนที่ได้คือ 65 เกรดที่ได้คือ C+
คะแนนที่ได้คือ 90 เกรดที่ได้คือ A
Error
Error
คะแนนที่ได้คือ 49 เกรดที่ได้คือ F