<a href="https://colab.research.google.com/github/Suphattha/data_viz/blob/main/Quiz5(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os

path = '/content/drive/My Drive/dataviz_2021_data/search_request.csv'

In [4]:
data = pd.read_csv(path)
data.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88

[5 rows x 10 columns]

In [5]:
data.iloc[0,2]

'2018-06-14 12:34:35.449'

In [6]:
len(data.iloc[0,2])

23

In [7]:
data.iloc[0,2][10]

' '

In [8]:
top_table = data.iloc[:10,:]
top_table

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88
5           5  4c048ac7-9fc7-49e8-9ee4-20ff755b939d  ...  12.8531  101.109
6           6  3ecf13ba-be4d-4eb9-9374-a1cca09d1614  ...  12.4511  102.249
7           7  a7e6b7c5-3d3c-4337-8337-d29c5346b686  ...  13.6409  100.433
8           8  02fedb5c-c9cd-46d7-9354-7613ecb7cfdd  ...  13.7209  100.527
9           9  e215d487-0450-4794-830a-ecfc0ab6493b  ...  13.7208  100.527

[10 rows x 10 columns]

# เปรียบเทียบจำนวน requests ของช่วงเวลา 11.00-11.59 กับ 23.00-23.59
# เปรียบเทียบจำนวน requests ของวันจันทร์-พฤหัส กับ ศุกร์-อาทิตย์

In [9]:
top_table['search_timestamp_v2'] = pd.to_datetime(top_table['search_timestamp'], format='%Y-%m-%d %H:%M:%S')
top_table.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   Unnamed: 0  ...     search_timestamp_v2
0           0  ... 2018-06-14 12:34:35.449
1           1  ... 2018-06-14 17:11:19.469
2           2  ... 2018-06-14 13:22:31.736
3           3  ... 2018-06-02 12:37:27.331
4           4  ... 2018-06-02 11:19:22.404

[5 rows x 11 columns]

In [10]:
top_table.iloc[0,-1]

Timestamp('2018-06-14 12:34:35.449000')

In [11]:
top_table.iloc[0,-1].day

14

In [12]:
top_table.iloc[0,-1].month

6

In [13]:
top_table.iloc[0,-1].year

2018

In [14]:
top_table.iloc[0,-1].hour

12

In [15]:
top_table.iloc[0,-1].minute

34

In [16]:
top_table.iloc[0,-1].dayofweek

3

In [17]:
top_table[top_table['search_timestamp_v2'].dt.dayofweek == 3]

   Unnamed: 0  ...     search_timestamp_v2
0           0  ... 2018-06-14 12:34:35.449
1           1  ... 2018-06-14 17:11:19.469
2           2  ... 2018-06-14 13:22:31.736

[3 rows x 11 columns]

In [18]:
from datetime import datetime,time

In [19]:
top_table[top_table['search_timestamp_v2'].dt.time > time(hour=12)]

   Unnamed: 0  ...     search_timestamp_v2
0           0  ... 2018-06-14 12:34:35.449
1           1  ... 2018-06-14 17:11:19.469
2           2  ... 2018-06-14 13:22:31.736
3           3  ... 2018-06-02 12:37:27.331
8           8  ... 2018-06-22 12:22:17.031
9           9  ... 2018-06-22 12:15:24.769

[6 rows x 11 columns]

In [21]:
data['search_timestamp_v2'] = pd.to_datetime(data['search_timestamp'], format='%Y-%m-%d %H:%M:%S',errors='coerce')
data.head()

   Unnamed: 0  ...     search_timestamp_v2
0           0  ... 2018-06-14 12:34:35.449
1           1  ... 2018-06-14 17:11:19.469
2           2  ... 2018-06-14 13:22:31.736
3           3  ... 2018-06-02 12:37:27.331
4           4  ... 2018-06-02 11:19:22.404

[5 rows x 11 columns]

In [22]:
data['search_timestamp_v3'] = pd.to_datetime(data['search_timestamp'], format='%Y-%m-%d %H:%M:%S',errors='ignore')
data.head()

   Unnamed: 0  ...      search_timestamp_v3
0           0  ...  2018-06-14 12:34:35.449
1           1  ...  2018-06-14 17:11:19.469
2           2  ...  2018-06-14 13:22:31.736
3           3  ...  2018-06-02 12:37:27.331
4           4  ...  2018-06-02 11:19:22.404

[5 rows x 12 columns]

In [24]:
data[data['search_timestamp_v2'].dt.dayofweek == 0]

          Unnamed: 0  ...      search_timestamp_v3
19                19  ...  2018-06-25 21:17:30.510
20                20  ...  2018-06-25 18:32:18.165
21                21  ...  2018-06-25 21:38:41.645
22                22  ...  2018-06-25 18:36:44.040
23                23  ...  2018-06-25 19:47:26.742
...              ...  ...                      ...
10004277    10005150  ...  2018-06-25 17:53:53.011
10004278    10005151  ...  2018-06-25 18:23:03.059
10004291    10005164  ...  2018-06-11 17:34:53.597
10004292    10005165  ...  2018-06-11 18:38:27.170
10004293    10005166  ...  2018-06-11 13:58:58.732

[1076297 rows x 12 columns]

In [27]:
data.isnull().any()

Unnamed: 0             False
search_id              False
search_timestamp       False
user_agent             False
q                       True
user_id                 True
session_id             False
number_of_result       False
lat                     True
long                    True
search_timestamp_v2     True
search_timestamp_v3    False
dtype: bool

In [28]:
data['search_timestamp']  = pd.to_datetime(data['search_timestamp'],format='%Y-%m-%d %H:%M:%S',errors='coerce')

In [29]:
data[data['search_timestamp'].dt.dayofweek == 3]

          Unnamed: 0  ...      search_timestamp_v3
0                  0  ...  2018-06-14 12:34:35.449
1                  1  ...  2018-06-14 17:11:19.469
2                  2  ...  2018-06-14 13:22:31.736
253              253  ...  2018-06-07 14:44:39.540
254              254  ...  2018-06-07 13:00:09.445
...              ...  ...                      ...
10004269    10005142  ...  2018-06-28 15:08:56.119
10004270    10005143  ...  2018-06-28 18:31:31.485
10004271    10005144  ...  2018-06-28 13:57:54.451
10004284    10005157  ...  2018-06-21 13:18:45.515
10004285    10005158  ...  2018-06-21 13:18:14.611

[1087060 rows x 12 columns]

In [30]:
d1 = data[data['search_timestamp'].dt.time < time(hour=12)]
d1 = d1[d1['search_timestamp'].dt.time >= time(hour=11)]
d1 = d1.iloc[:,2].count()
d1

738397

In [31]:
d2 = data[data['search_timestamp'].dt.time >= time(hour=23)]
d2 = d2.iloc[:,2].count()
d2

278510

In [35]:
print(f'ช่วงเวลา 11.00 - 12.00น. จะมีจำนวนการค้นหาร้านอาหารเท่ากับ {d1} ซึ่งมากกว่าช่วงเวลา 23.00 - 0.00น.ที่มีจำนวนการค้นหาร้านอาหารเท่ากับ {d2}  ซึ่งมากกว่า {d1-d2} ครั้ง')

ช่วงเวลา 11.00 - 12.00น. จะมีจำนวนการค้นหาร้านอาหารเท่ากับ 738397 ซึ่งมากกว่าช่วงเวลา 23.00 - 0.00น.ที่มีจำนวนการค้นหาร้านอาหารเท่ากับ 278510  ซึ่งมากกว่า 459887 ครั้ง

In [36]:
#วันจันทร์-พฤหัส
day_work = data[data['search_timestamp'].dt.dayofweek <= 3] 
day_work = day_work.iloc[:,2].count()
day_work

4220697

In [38]:
#ศุกร์-อาทิตย์
day_holiday = data[data['search_timestamp'].dt.dayofweek >= 4] 
day_holiday = day_holiday.iloc[:,2].count()
day_holiday

5783659

In [39]:
day_work > day_holiday

False

In [40]:
print(f'วันจันทร์-พฤหัสบดี มีจำนวนการค้นหาร้านอาหาร {day_work} ซึ่งน้อยกว่าวันศุกร์-อาทิตย์ที่มีจำนวนการค้นหาร้านอาหารเท่ากับ {day_holiday}  ซึ่งน้อยกว่า{day_holiday-day_work} ครั้ง')

วันจันทร์-พฤหัสบดี มีจำนวนการค้นหาร้านอาหาร 4220697 ซึ่งน้อยกว่าวันศุกร์-อาทิตย์ที่มีจำนวนการค้นหาร้านอาหารเท่ากับ 5783659  ซึ่งน้อยกว่า1562962 ครั้ง